[Unit]
Description=Schedule KrisOS package restore after boot

[Timer]
OnBootSec=1min
OnUnitInactiveSec=10min
Unit=krisos-sync.service

[Install]
WantedBy=timers.target
